/* ===== COLOR PALETTE FOR APPHEART ===== */
/* ==== Referenced resources: coolor.co, htmlcolors.com ==== */

:root {
  --clr-white: hsl(60, 100%, 99%);
  --clr-yellow: hsl(44, 98%, 50%);
  --clr-red: hsl(13, 73%, 22%);
  --clr-blue-accent: hsl(217, 89%, 72%);
  --clr-blue: hsl(240, 100%, 50%);
  --clr-green: hsl(118, 61%, 17%);
  --clr-black: hsl(45, 22%, 4%);
}
