* {
  font-family: "Montserrat";

  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.global-container {
  position: relative;
  height: 100vh;
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;

  display: grid;
  grid-template-rows: 3rem 1fr;
}
