.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2.5rem;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem;
    color: var(--clr-white);
    opacity: 0.75;
    max-width: 600px;
    font-family: cursive;
    text-transform: uppercase;

    @media (max-width: 600px) {
      margin-top: 2rem;
    }
  }
}

.company {
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translate(4rem, -50%);
  color: var(--clr-white);
  transform: rotate(-90deg);
  letter-spacing: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  span {
    height: 0.25rem;
    background: rgb(78, 141, 115);
    width: 5rem;
  }

  @media (max-width: 620px) {
    flex-direction: column;
    text-align: center;
    transform: rotate(0);
    transform: translateX(-50%);
    top: 5rem;
    left: 50%;
    gap: 15px;
  }
}
