/* ===== COLOR PALETTE FOR APPHEART ===== */
/* ==== Referenced resources: coolor.co, htmlcolors.com ==== */
:root {
  --clr-white: hsl(60, 100%, 99%);
  --clr-yellow: hsl(44, 98%, 50%);
  --clr-red: hsl(13, 73%, 22%);
  --clr-blue-accent: hsl(217, 89%, 72%);
  --clr-blue: hsl(240, 100%, 50%);
  --clr-green: hsl(118, 61%, 17%);
  --clr-black: hsl(45, 22%, 4%);
}

/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/montserrat-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-100.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  font-family: "Montserrat";
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.global-container {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem 1fr;
      grid-template-rows: 3rem 1fr;
}

button, input[type="submit"] {
  padding: 1rem 2rem;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  background-color: var(--clr-blue);
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--clr-blue);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 25px;
}

button:hover, input[type="submit"]:hover {
  background-color: transparent;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.nav__link {
  font-family: "Oswald";
  color: var(--clr-white);
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: .85rem;
  display: -ms-grid;
  display: grid;
  height: 80%;
  place-items: center;
  padding: 0 1rem;
}

.nav__link:hover, .nav__link.active {
  background: rgba(29, 6, 6, 0.5);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  list-style: none;
}

.nav li {
  height: 5rem;
}

.form-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: rgba(34, 52, 85, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.form-container h3 {
  padding-bottom: 20px;
  color: #fff;
}

.form-container button {
  width: 100%;
  padding: 5px 10px;
  float: right;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form-container button:hover {
  background-color: blue;
  color: #fff;
}

.form-container a {
  color: #eee;
  font-size: 80%;
  text-decoration: none;
  padding-top: 20px;
  border-bottom: 2px solid #eee;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input-container label {
  font-size: 90%;
  color: #ddd;
  padding-right: 10px;
  text-transform: capitalize;
}

.input-container input {
  font-size: 100%;
  padding: 5px 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2rem;
  height: auto;
}

.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  gap: 2.5rem;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h2 {
  font-size: 3rem;
  color: var(--clr-white);
  opacity: 0.75;
  max-width: 600px;
  font-family: cursive;
  text-transform: uppercase;
}

.take__actions > *:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 20px;
}

.company {
  position: absolute;
  top: 50%;
  left: -10rem;
  -webkit-transform: translate(4rem, -50%);
          transform: translate(4rem, -50%);
  color: var(--clr-white);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.company span {
  height: 0.25rem;
  background: #4e8d73;
  width: 5rem;
}

@media (max-width: 620px) {
  .company {
    text-align: center;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 5rem;
    left: 50%;
    gap: 15px;
  }
}

#auth {
  background-image: url(/assets/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
}

#auth main {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#courses {
  background-image: url(https://images.unsplash.com/photo-1533031403683-9f53b30187bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;
  background-attachment: fixed;
  width: 100%;
}

#courses .intro {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #222;
  font-weight: bold;
}

#courses section {
  display: none;
}

#courses section.active {
  display: block;
}

#courses main {
  position: relative;
  margin-top: 50px;
  color: #fff;
}

@media (min-width: 620px) {
  #courses {
    margin-top: 0;
    padding-left: 180px;
  }
}

#courses .courses {
  padding: 20px;
  display: -ms-grid;
  display: grid;
}

#courses .courses .course {
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(238, 238, 238, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#courses .courses .course:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 620px) {
  #courses .courses {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

#enquiries {
  background-image: url(https://images.unsplash.com/photo-1565230698474-2a8a500c35cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;
  width: 100%;
}

#enquiries main {
  position: relative;
  margin-top: 50px;
  color: #fff;
}

@media (min-width: 620px) {
  #enquiries {
    margin-top: 0;
    padding-left: 180px;
  }
}

#enquiries .enquiry {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (min-width: 620px) {
  #enquiries .enquiry {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#enquiries .enquiry > div {
  position: relative;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#enquiries .enquiry > div h2 {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
  background-blend-mode: overlay;
  background-size: cover;
  width: 100%;
  font-size: 1.85rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: 600;
}

#enquiries .enquiry > div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#enquiries .enquiry > div a {
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #000;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  z-index: 100;
  font-weight: bold;
  letter-spacing: 1px;
}

#enquiries .enquiry > div a i {
  margin-right: 20px;
}

#enquiries .enquiry .call h2 {
  background-image: url(https://images.unsplash.com/photo-1523966211575-eb4a01e7dd51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=353&q=80);
}

#enquiries .enquiry .email h2 {
  background-image: url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
/*# sourceMappingURL=main.css.map */