/* ===== COLOR PALETTE FOR APPHEART ===== */
/* ==== Referenced resources: coolor.co, htmlcolors.com ==== */
:root {
  --clr-white: hsl(60, 100%, 99%);
  --clr-yellow: hsl(44, 98%, 50%);
  --clr-red: hsl(13, 73%, 22%);
  --clr-blue-accent: hsl(217, 89%, 72%);
  --clr-blue: hsl(240, 100%, 50%);
  --clr-green: hsl(118, 61%, 17%);
  --clr-black: hsl(45, 22%, 4%);
}

/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/montserrat-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-100.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  font-family: "Montserrat";
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.global-container {
  position: relative;
  height: 100vh;
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--clr-black);
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem 1fr;
      grid-template-rows: 3rem 1fr;
}

input[type="submit"] {
  padding: 1rem 2rem;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  background-color: var(--clr-blue);
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--clr-blue);
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 25px;
}

input[type="submit"]:hover {
  background-color: transparent;
}

.nav__link {
  font-family: "Oswald";
  color: var(--clr-white);
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: .85rem;
  display: -ms-grid;
  display: grid;
  height: 80%;
  place-items: center;
  padding: 0 1rem;
}

.nav__link:hover {
  background: rgba(29, 6, 6, 0.5);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  list-style: none;
}

.nav li {
  height: 5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2rem;
  height: auto;
}

.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  gap: 2.5rem;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h2 {
  font-size: 3rem;
  color: var(--clr-white);
  opacity: 0.75;
  max-width: 600px;
  font-family: cursive;
  text-transform: uppercase;
}

.company {
  position: absolute;
  top: 50%;
  left: -10rem;
  -webkit-transform: translate(4rem, -50%);
          transform: translate(4rem, -50%);
  color: var(--clr-white);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.company span {
  height: 0.25rem;
  background: #4e8d73;
  width: 5rem;
}

@media (max-width: 620px) {
  .company {
    text-align: center;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 5rem;
    left: 50%;
    gap: 15px;
  }
}

#auth {
  background-image: url(/assets/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#auth header {
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#auth img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 60px;
}

#auth .nav__link {
  color: #000;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */